* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, sans-serif;
}

.display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  color: white;
  border-radius: 4px;
  background-color: rgb(60, 80, 100);
}

#calculator {
  padding: 24px;
  width: 300px;
  height: 400px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #1f1e1e;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row:last-child::before {
  width: 40px;
  height: 40px;
}

.button {
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #ff043a;
  border-radius: 4px;
  border: 2px solid rgb(255, 60, 60);
}





/*-------------------------------- Constants --------------------------------*/

const display = document.querySelector(".display"); //gets display element from index.html
const buttons = document.querySelectorAll(".button"); //gets buttons elements from index.html

/*-------------------------------- Variables --------------------------------*/

let userInput = ""; //single variable that is for user input
/*------------------------ Cached Element References ------------------------*/

/*----------------------------- Event Listeners -----------------------------*/


buttons.forEach(button => { //ForEach loop to get all the buttons inside all blocks
    button.addEventListener('click',() => { //Event listener that listens to when button is clicked
        
/*-------------------------------- Functions --------------------------------*/

        
        const value= button.textContent; //value that will take the number element from button

        if(value === 'C'){ //if statement that checks if C is pressed and if it is clears all input from display
            userInput = ''
            display.textContent = userInput;
        }
        else if
        (value === '='){ //else if statement that uses eval() method to do all the arithmatic operations in the chosen by user
            const result = eval(userInput);
            display.textContent = result;
            userInput = result.toString(); //the result of calculation stored in string to be reused in the next calculation unless user wants to reset using C
        }
        else{
            userInput = userInput+value; //All it does is allow multiple values to be added onto the display until the else if statement runs
            display.textContent = userInput;
        }
    })
})

